#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :ns-patterns ["-test$"]}]
 :color? true
 :randomize? false
 :reporter [kaocha.report/documentation]
 :plugins [:kaocha.plugin/hooks]
 :kaocha.hooks/post-load [rt-clj.repl/test-post-load-hook]}
